p > a > img {
    /* make sure book icon for documentation and curly braces for repository
       links are in line with the text */
    vertical-align: text-bottom;
}

table.compare tbody > tr:last-child {
    border-bottom: solid grey !important;
}

table.compare td {
    /* Vertically align entries in the astropy comparison table.
     * The `!important` property is to keep Documenter.jl's custom
     * themes from overriding things
     * */
    vertical-align: middle !important;
}

#multi-page-nav .nav-dropdown-container {
    overflow: auto !important;
}

#multi-page-nav .nav-mega-dropdown-container {
    width: 100% !important;
}
