name: CI

on:
  workflow_call:
    inputs:
      test_args:
        required: true
        type: string

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - "min"
          - "1.11"
          - "1" # Leave this line unchanged. '1' will automatically expand to the latest stable 1.x release of Julia.
          - "pre"
        os:
          - ubuntu-latest
        arch:
          - default
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        with:
          test_args: ${{ inputs.test_args }}
          coverage: false
